*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/release/
/captures
.externalNativeBuild
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
drishti-app/tmp/
classes/
tmp/
project.properties
.settings
build/
opensrp-anc/fabric.properties
opensrp-anc/reports/
opensrp-anc/jacoco.exec
jacoco.exec
~                 
/build/
/google-services.json
*.log
