<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.anc">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.AncApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AncAppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.ContactJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.EditJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.HomeRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopulationCharacteristicsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />
        <activity
            android:name=".activity.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />
        <activity
            android:name=".activity.ContactSummarySendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />
        <activity
            android:name=".activity.ContactSummaryFinishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />


        <activity
            android:name=".activity.SiteCharacteristicsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />

        <activity
            android:name=".activity.SiteCharacteristicsEnterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />

        <activity
            android:name=".activity.SiteCharacteristicsExitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AncAppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>

        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name="org.smartregister.sync.intent.SyncIntentService" />
        <service android:name="org.smartregister.sync.intent.ValidateIntentService" />
        <service android:name="org.smartregister.sync.intent.ExtendedSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.SettingsSyncIntentService" />

    </application>

</manifest>